@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root { */
/* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
/* } */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  background-color: white;
}

.to-do-list {
  text-align: center;
  margin-top: 100px;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
}

button {
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  transition: background-color 0.5 ease;
  cursor: pointer;
}

.add-button {
  background-color: hsl(125, 47%, 54%);
}

.add-button:hover {
  background-color: hsl(125, 47%, 44%);
}

.delete-button {
  background-color: hsl(0, 80%, 48%);
}

.delete-button:hover {
  background-color: hsl(0, 80%, 38%);
}

.move-button {
  background-color: hsl(238, 85%, 85%);
}

.move-button:hover {
  background-color: hsl(238, 100%, 75%);
}
input[type="text"] {
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid hsla(0, 0%, 80%, 0.5);
  border-radius: 5px;
  color: hsla(0, 0%, 0%, 0.5);
  margin-bottom: 20px;
}

ol {
  padding: 0;
}

li {
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsl(240, 3%, 94%);
  margin-bottom: 10px;
  border: 3px solid hsla(0, 0%, 85%, 0.75);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.text {
  flex: 1;
}

.delete-button,
.move-button {
  padding: 8px 12px;
  margin-left: 10px;
  font-size: 1.4rem;
}
